.menu-btn {
  position: absolute;
  font-size: 1.5rem;
  padding: 8px;
  width: 40px;
  height: 40px;
  @include radius(300px);
  background-color: $blue;
  color: $white;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  top: 10px;
  right: 10px;
  @include transition(all,.4s, ease-in);

  &:hover, &:focus {
    @include box-shadow(0, 2px, 6px, rgba(0, 0, 0, 0.25));
  }
}

#icx {
  max-width: 1350px;
  min-width: 300px;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  @include flex-box;
  @include box-shadow(0, 2px, 6px, rgba(0, 0, 0, 0.25));

  @media (max-width: 800px) and (min-width: 300px) {
    .menu-btn {
      visibility: visible;
      opacity: 1;
    }
  }
}

.sidebar {
  max-width: 320px;
  min-width: 300px;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
  z-index: 2;
  @include flex(1 0);
  @include transition(all,.4s, ease-in);

  &:before {
    box-shadow: inset -5px 0 5px -5px rgba(0,0,0,0.25);
    content: "";
    display: block;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 5px;
    z-index: 3;
  }

  nav {
    height: auto;
    padding: 20px;

    ul {
    
      li {
        padding: 12px 8px;
        text-transform: uppercase;
        font-size: .825rem;
      }
    }

    a {
      text-decoration: none;
      color: #515151;
      @include transition(all,.4s, ease-in);

      &:hover {
        color: $red;
      }
    }
  } 

  /* Media collapse */
  @media (max-width: 800px) and (min-width: 300px) {
    background-color: #EFEFEF;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;

    &:before {
      content: none;
    }

    nav {
      padding: 1em 0;

      ul {
        height: 0;
        visibility: hidden;
        opacity: 0;
      }
    }

    
    &.mobile {
      height: 100vh;
      
      nav {
        padding: 3rem 2rem;
        ul {
          height: 100%;
          visibility: visible;
          opacity: 1;

        }
      }
    }
  }
}

.main {
  background-color: $white;
  @include flex(2 0);
  max-width: 1050px;
  min-width: 300px;
  width: auto;
  z-index: 1;
  position: relative;

  .panel {
    padding: 20px;
    border-bottom: 1px solid $base;
    //@include box-shadow(0, 6px, 6px, -6px, rgba(0, 0, 0, 0.25));
  }
}

.toolbar {
  height: 60px;
  display: block;
  border-bottom: 1px solid $gray;
  position: relative;
  background-color: rgba(0,0,0,.015);
  @include transition(all,.4s, ease-in);

  @media (max-width: 800px) and (min-width: 300px) {
    @include box-shadow(0, 2px, 6px, rgba(0, 0, 0, 0.25));
  }
}

.tabs-wrapper {
  display: block;
  position: relative;
  padding: 10px;
  height: 60px;
  margin: 0;
  list-style: none outside none;
}

.tab {
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  color: $gray;
  cursor: pointer;
  text-align: center;
  font-size: .9rem;
  text-transform: capitalize;
  display: inline-block;
  margin: 0 20px 0 0;
  @include transition(all,.2s, ease-in);

  &:last-child {
    margin: 0;
  }

  &.active, &:hover {
    color: $black;
    font-weight: 900;
    border-bottom-color: $red;
  }
}