$black: #000;
$white: #fff;

$red: #e91e63;
$sec-red: #d00047;
$blue: #00bef5;
$green: #2bbd2a;
$sec-green: #25a024;
$yellow: #fed766;
$gray: #ddd;
$recess: #f4f4f4;
$fore: $white;
$success: $green;
$deny: $red;
$default: $blue;
$caution: $yellow;
$action: $blue;
$base: #f8f9fb;

