@import 'brand';
@import 'mixins';

button {
  border: none;
  width: auto;
  max-width: 200px;
  min-width: 100px;
  padding: 10px;
  text-align: center;
  //min-height: 22px;
  color: $black;
  background-color: #e6e6e6;
  cursor: pointer;
  outline: none;
}

.action-bttn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: $white;
  border: 1px solid $bg;
  font-weight: bold;
  color: $bg;
  font-size: .7em;
  @include radius(3px);
  padding: 8px 12px;
  @include transition(all, 100ms, ease-in);
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  cursor: pointer;
  position: relative;

  &:hover {
    //color: $white;
    border-color: $blue;
    color: $blue;
    box-shadow: none;
  }

  a {
    &:hover, &:active {
      text-decoration: none;
    }
  }
}

