.blank-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.inline {
  @extend .blank-list;

  li {
    display: inline-block;
    padding: 0 10px 0 0 ;
  }
}

.stats {
  @extend .blank-list;
  @include flex-box();
  @include flex(1 0 25%);
  height: 250px;
  flex-flow: column nowrap;
  color: $gray;
  text-align: center;
  padding: 20px;
  padding-right: 0;
  justify-content: space-between;
  width: 100%;


  &:last-child {
    padding-right: 20px;
  }

  li {
    padding: 10px;
    background-color: #6fbcdf;
    @include flex(1);

    &.identify {
      text-transform: uppercase;
      color: $white;
      @include radius(5px 5px 0 0);
    }

    &.stat {
      @include flex(2);
      padding: 0;      

      h3 {
        font-size: 3em;
        font-weight: normal;
        line-height: 0;
        margin: 0;
        padding: 20px 0;
        font-family: 'Roboto', sans-serif;
      }
    }

    &.title {
      @include flex(1);
      color: $black;
      font-family: 'Roboto', sans-serif;
      //font-size: 1.4em;
      background-color: $white;
      @include radius(0 0 5px 5px);
      background-color: $white;
      box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.4);
    }
  }
}

.stats-listing {
  width: 100%;
  @include flex-box;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    @include flex(1 0 22%);
    margin-right: 10px;
    width: 25%;
    float: left;
    font-size: 1.2em;
    color: #48435c;
    text-align: center;
    padding: 10px;
    border-right: 1px solid $gray;

    &:last-child {
      border-right: none;
    }

    strong {
      display: block;
      text-transform: uppercase;
      font-weight: 800;
      color: $purple;
      font-family: 'Roboto', sans-serif;
    }
  }
}

.data-card {
  @include flex-box();
  padding: 20px;
  flex-flow: row wrap;
  @include flex(1 50%);
  
  .box {
    @include flex(1);
    @include flex-box();
    flex-flow: row wrap;
    background-color: #f6f6fd;
    @include radius(5px);
  }

  .cell {
    @include flex(1);
    @include flex-box();
    flex-flow: row wrap;
    @include columns(2);

    span {
      @include flex(1 100%);
    }
    &:first-child {
      font-size: 8em;
      @include flex(0);
      @include columns(1);
    }
  }
}

.actions {
  width: 100%;
  padding: 0px;
  //background-color: $cool;
  //border-top: 1px solid $bg;
  //border-bottom: 1px solid $bg;
  @include flex-box;

  h4 {
    text-transform: uppercase;
    color: $black;
    letter-spacing: 1px;
    font-size: .8em;
    margin: 0;
    font-weight: bold;
    padding: 8px 15px;
  }

  .shortcut {    
    padding: 1em 0;
    list-style: none;
    @include flex-box;
    flex-flow: row wrap;
    margin: 0 auto;

    li {
      @include flex(1 0 42%);
      min-height: 20px;
      max-width: 50%;
      padding: 0 3px;

      &:last-child {
        .action-bttn {
          margin-bottom: 0;
        }
      }

      .action-bttn {
        width: 100%;
        //background-color: $white;

        &:hover {
          //background-color: #e6e6e6;
        }
      }
    }
  }

  // .shortcut {
  //   @include flex-box;
  //   width: 100%;
  //   flex-flwo: row wrap;
  //   list-style: none;
  //   padding: 0;
  //   margin: 0;

  //   li {
  //     @include flex(1 0 50%);
  //     max-width: 50%;
  //     position: relative;

  //     a {
  //       text-decoration: none;
  //     }
  //   }
  // }
}
.data-list {
  padding: 0px;
  margin: 0;
  list-style: none;
  @include flex-box;
  flex-flow: row wrap;
  font-size: .8em;
  @include radius(3px);

  li {
    @include flex(1 0 50%);
    text-align: left;
    margin-bottom: 1em;
    padding: 12px;
    line-height: 1;
    max-width: 50%;
    background-color: $cool;

    &:nth-child(odd) {
      border-right: 5px solid $white;
    }

    &:last-child {
      border: none;
    }

    strong {
      font-weight: bold;
      display: inline-block;
      vertical-align: top;
    }

    small {
      display: block;
      font-weight: bold;
    }

    p {
      //padding: 3px 0;
      vertical-align: top;
      margin: 0;
      display: inline-block;
    }

    &.col {
      @include flex(1 0 22% !important);
    }
  }


  &.centered {
    li {
      text-align: center !important;
    }
  }
}
.stat-container {
  padding: 10px;
  border: 1px solid $gray;
  text-align: center;
  color: $white;
  list-style: none;
  box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.2);
  @include radius(5px);
  margin: 0;
  
  .stat {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    color: $red;
  }

  .title {
    color: #515151;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: .825em;
    font-weight: bold;
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .data-list {
    flex-flow: row wrap;
    font-size: .8em;
    @include radius(3px);

    li {
      @include flex(1 0 100%);
      margin-bottom: 1em;
      padding: 1em;
      background-color: #fafbff;
      max-width: 100%;
      border: none;
      
      strong {
        font-weight: bold;
        display: inline-block;
        vertical-align: top;
      }

      small {
        display: block;
        font-weight: bold;
      }

      p {
        //padding: 3px 0;
        vertical-align: top;
        margin: 0;
        display: inline-block;
      }

      &.col {
        @include flex(1 0 100% !important);
      }
    }


    &.centered {
      li {
        text-align: center !important;
      }
    }
  }
}