$white: #fff;
$black: #151515;
$red: #db2a50;
$purple: #2e1244;
$blue: #0089f3;
$lblue: #a1cdf4;
$base: #e6e6e6;
$gray: #d3d3d3;
$ltgray:#FBFCFC;
$green: #6ED32D;
$faint: #f6f6fd;
$beige: #F9EFEA;
$ltbeige: #fffae7;
$cool: #fafbff;
$bg: #333745;

h1, h2,h3,h4,h5,h6 {
  margin: 0 0 10px 0;
}

h1 {
  font-size: 3em;
  font-weight: 100;
}

h2 {
  font-size: 2em;
  font-weight: 800;
}

h3 {
  font-size: 1.6em;
  font-weight: 600;
}

h4 {
  font-size: 1.3em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  color: $blue;
}