$white: #fff;
$black: #151515;
$red: #db2a50;
$purple: #2e1244;
$blue: #0089f3;
$lblue: #a1cdf4;
$base: #e6e6e6;
$gray: #d3d3d3;
$ltgray:#FBFCFC;
$green: #6ED32D;
$faint: #f6f6fd;
$beige: #F9EFEA;
$ltbeige: #fffae7;
$cool: #fafbff;
$bg: #333745;