@import 'brand';
@import 'mixins';

button {
  border: none;
  width: auto;
  max-width: 200px;
  min-width: 100px;
  padding: 10px;
  text-align: center;
  //min-height: 22px;
  color: $black;
  background-color: #e6e6e6;
  cursor: pointer;
  outline: none;
}

.action-bttn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.3);
  background-color: #a1cdf4;
  font-weight: bold;
  color: #48435c;
  font-size: .7em;
  @include radius(3px);
  padding: 10px 14px;
  @include transition(all, 100ms, ease-in);
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  margin: 0 0 10px 0;

  &:hover {
    //color: $white;
    background-color: #c1e2ff;
    box-shadow: none;
  }

  a {
    &:hover, &:active {
      text-decoration: none;
    }
  }
}