//Compiled Sass styles
//Please don't add custom css to this file
//Please place all ad hoc styling in the override css file
@import 'partials/brand';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/base';

// Edit mode
@import 'partials/edit-mode';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}