//Compiled Sass styles
//Please don't add custom css to this file
//Please place all ad hoc styling in the override css file
@import 'partials/buttons';
@import 'partials/lists';
@import 'partials/foundation';


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}